<br> <br>
<c-container fluid>
    <c-row>
        <c-col>
            <c-card>
                <c-card-header class="pb-3">
                    <h5>
                        <b>LISTA DE VEHICULOS</b>
                    </h5>
                </c-card-header>
                <c-card-body>
                    <c-container fluid>
                        <c-row class="justify-content-center">
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>VEHICULOS LIVIANOS</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu vehiculo liviano
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline" (click)="navForm()">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>CAMION</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu CAMION
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>VOLQUETA</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu VOLQUETA
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                        </c-row> <br>
                        <c-row class="justify-content-center">
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>CAMION GRUA</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu CAMION GRUA
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>MIXER</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu MIXER
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col md="12" lg="4">
                                <c-card>
                                    <c-card-header class="text-center text-info">
                                        <b>TANQUERO</b>
                                    </c-card-header>
                                    <c-card-body class="bg-gradient">
                                        <c-row>
                                            <c-col>
                                                <p cCardText class="text-secondary fst-italic custom-justify">
                                                    Aqui podras realizar la revisión para tu TANQUERO
                                                </p>
                                            </c-col>
                                        </c-row> <br>
                                        <c-row class="justify-content-center">
                                            <c-col class="text-center">
                                                <button cButton color="warning" variant="outline">
                                                    <svg cIcon name="cil-search"></svg>
                                                    <b> Realizar Test</b>
                                                </button>
                                            </c-col>
                                        </c-row>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                        </c-row> <br>
                        <c-row>
                        <c-col md="12" lg="4">
                            <c-card>
                                <c-card-header class="text-center text-info">
                                    <b>PLATAFORMAS</b>
                                </c-card-header>
                                <c-card-body class="bg-gradient">
                                    <c-row>
                                        <c-col>
                                            <p cCardText class="text-secondary fst-italic custom-justify">
                                                Aqui podras realizar la revisión para tu PLANATAFORMA
                                            </p>
                                        </c-col>
                                    </c-row> <br>
                                    <c-row class="justify-content-center">
                                        <c-col class="text-center">
                                            <button cButton color="warning" variant="outline">
                                                <svg cIcon name="cil-search"></svg>
                                                <b> Realizar Test</b>
                                            </button>
                                        </c-col>
                                    </c-row>
                                </c-card-body>
                            </c-card>
                        </c-col>
                        <c-col md="12" lg="4">
                            <c-card>
                                <c-card-header class="text-center text-info">
                                    <b>AMBULANCIA</b>
                                </c-card-header>
                                <c-card-body class="bg-gradient">
                                    <c-row>
                                        <c-col>
                                            <p cCardText class="text-secondary fst-italic custom-justify">
                                                Aqui podras realizar la revisión para tu AMBULANCIA
                                            </p>
                                        </c-col>
                                    </c-row> <br>
                                    <c-row class="justify-content-center">
                                        <c-col class="text-center">
                                            <button cButton color="warning" variant="outline">
                                                <svg cIcon name="cil-search"></svg>
                                                <b> Realizar Test</b>
                                            </button>
                                        </c-col>
                                    </c-row>
                                </c-card-body>
                            </c-card>
                        </c-col>
                        <c-col md="12" lg="4">
                            <c-card>
                                <c-card-header class="text-center text-info">
                                    <b>DUMPERS</b>
                                </c-card-header>
                                <c-card-body class="bg-gradient">
                                    <c-row>
                                        <c-col>
                                            <p cCardText class="text-secondary fst-italic custom-justify">
                                                Aqui podras realizar la revisión para tu DUMPERS
                                            </p>
                                        </c-col>
                                    </c-row> <br>
                                    <c-row class="justify-content-center">
                                        <c-col class="text-center">
                                            <button cButton color="warning" variant="outline">
                                                <svg cIcon name="cil-search"></svg>
                                                <b> Realizar Test</b>
                                            </button>
                                        </c-col>
                                    </c-row>
                                </c-card-body>
                            </c-card>
                        </c-col>
    </c-row>
</c-container>
</c-card-body>
</c-card>
</c-col>
</c-row>
</c-container>