.card-header-button-rigth {
    // Comportamiento
    position: absolute;
    // Posición
    right: 1rem;
}

.card-header-button-left {
    // Comportamiento
    position: absolute;
    // Posición
    left: 1rem;
    // color de letra
    color: #000;
}

.button-footer {
    position: absolute;
    right: 2rem;
    color: #ffffff;
}